@tailwind base;
@tailwind components;
@tailwind utilities;

.open-menu::before {
  top: 50%;
  transform: rotate(45deg);
  animation: openRotateTop 0.2s ease-in-out;
}

.open-menu::after {
  top: 50%;
  transform: rotate(-45deg);
  animation: openRotateBottom 0.2s ease-in-out;
}

.close-menu::before {
  top: 0%;
  transform: rotate(0deg);
  animation: closeRotateTop 0.2s ease-in-out;
}

.close-menu::after {
  bottom: 0%;
  transform: rotate(0deg);
  animation: closeRotateBottom 0.2s ease-in-out;
}

.show {
  top: 100%;
  animation: show 0.4s ease-in-out;
}

.hide {
  top: -400%;
  animation: hide 0.4s ease-in-out;
}

@keyframes show {
  0% {
    top: -400%;
  }
  100% {
    top: 100%;
  }
}

@keyframes hide {
  0% {
    top: 100%;
  }
  100% {
    top: -400%;
  }
}

@keyframes openRotateTop {
  0% {
    top: 0%;
    transform: rotate(0deg);
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }
}

@keyframes openRotateBottom {
  0% {
    bottom: 0%;
    transform: rotate(0deg);
  }
  100% {
    bottom: 50%;
    transform: rotate(-45deg);
  }
}

@keyframes closeRotateTop {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  100% {
    top: 0%;
    transform: rotate(0deg);
  }
}

@keyframes closeRotateBottom {
  0% {
    bottom: 50%;
    transform: rotate(-45deg);
  }
  100% {
    bottom: 0%;
    transform: rotate(0deg);
  }
}
